<!DOCTYPE html>
<html>
  <head>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <title>Mini Message Board</title>
  </head>
  <body>
    <h1>Message Board</h1>
  </body>
</html>
